*,
*::before,
*::after {
    box-sizing: border-box;
}

body, html {
    font-family: 'Roboto' , sans-serif;
    margin: 0;
}

#bookshelf {
    max-width: 900px;
    height: 50vh;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: rgba(101, 156, 125, 0.5);
    overflow: scroll;
}

#bookshelf .book {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    margin: 10px 20px;
    border: 3px solid rgb(223, 198, 153);
    border-radius: 15px;
    text-align: center;
    color:whitesmoke;
    font-size: 1.2rem;
    font-weight: 700;
}

.removeBook,
.readNotRead {
    width: 80px;
    height: 20px;
    border-radius: 20px;
    background-color: rgba(101, 156, 125, 0.5);
    border: none;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    
}

button:hover {
    cursor: pointer;
    filter: brightness(50%);
}

.addBook {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: rgba(68, 50, 1, 0.5);
    margin: 0 auto;
    display: block;
    margin: 20px auto;
}

.inputs {
    max-width: 900px;
    height: 35px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    justify-content: center;
}

input, select {
    border-radius: 20px;
    background-color: transparent;
    outline: none;
    border-color: rosybrown;
    color: rosybrown;
    text-align: center;
    font-weight: 800;
}

input::placeholder {
    color: rosybrown; 
}